:root {
    --main-color: black;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border: .2rem solid  #352f44;
    --border-hover: .2rem dashed #fdb44b;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

* {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .4s linear;
}

html{
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    scroll-padding-top: 100px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./static/Forest-Stairs-Splash-Web.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(65%);

}

.heading {
    font-size: 3rem;
    color: whitesmoke;
    padding: 2%;
    text-transform: uppercase;
    -webkit-text-stroke: .05rem white;
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
    z-index: 2;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: whitesmoke;
    font-size: 2rem;
}

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
    


body::-webkit-scrollbar {
    width: 0.25rem;
    scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
    border-radius: 0.125rem; 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    align-items: center;
    z-index: 1; 
}

.logo {
    transition: width 0.5s ease;
    padding: 4%;
    width: 100px;
    transition: transform 0.5s ease;
}

.logo-container {
    margin-left: 20px;
}

.logo-container:hover .logo {
    transform: scale(1.5);
}

.logo.adjusted {
    width: 300px; /* Set the desired width */
}


.onibi-icon{
    width: 500px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.social-media {
    margin-right: 20px; 
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-container,
.twitch-container,
.discord-container {
    margin: 0 10px; 
}

.svg-icon {
    width: 30px; 
}

.svg-icon {
    width: 30px; /* value was 50px */
    transition: transform 0.5s ease;
    height: auto;
}

.discord-container {
    background-color:#5865F2;
    padding: 5px 10px 5px 10px;  /* value was 10px 20px 10px 20px */
    margin: 10px;
    border-radius:  5%;
}

.discord-icon {
    width: 100px;
    margin-top: 3px;
    height: auto;
}

.svg-icon:hover {
    rotate: rotate(360deg);
}

/* home section */
.home {
    position: relative;
    min-height: 100vh;
    background: url(static/Onibi-Steam-Page-TemplateWebsite.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.centered-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.steam-logo {
    margin-top: 20px; 
}


.heading {
    font-size: 2rem; 
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 20px; 
}
.steam-logo img {
    width: 150px; 
    height: auto; 
}

/* footer */
.footer {
    background: linear-gradient(135deg, #1a1a1a, #333);
}

.footer .credit {
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    color: white;
}

#baka {
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: white;
    background: #262626;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    color: #90f6d7;
    box-shadow: 0 0 5px #90f6d7;
    text-shadow: 0 0 5px #90f6d7;
    transform: scale(1.1);
    box-shadow: 0 0 15px #90f6d7;
}

#menu-btn {
    font-size: 24px; 
    cursor: pointer; 
    margin-right: 20px;
    display: none;
}


/* video section */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.video-section {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background: transparent;
    background-color:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 80px;
    padding: 40px;
    margin: 80px 20px 80px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
              
}

.footage-section {
    height: 100vh;
}
  

.video-container {
    flex: 1;
    margin-right: 20px;
    
}

.video-container video {
    width: 100%;
    border-radius: 16px;
}

.text-container {
    flex: 1;
}

.text-container h2 {
    font-size: 40px;
    padding-bottom: 40px;
    color: white;
}

.text-container p {
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
}


/* media queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 3rem;
    }

}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem;
        z-index: 0;
    }
    .heading span {
        font-size: 2.3rem;
    }
    .onibi-icon {
        width: 300px; 
        height: auto;  
    }

    .home {
        background-attachment: scroll;
    }
}

@media (max-width: 576px) {
    .home {
        background-size: cover;
        background-position: top center;
    }
    .onibi-icon {
        width: 300px; 
        height: auto;  
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .home {
        /* Adjust background properties for tablets */
        background-size: cover;
        background-position: top center;
    }
    .onibi-icon {
        width: 300px; 
        height: auto;  
    }
}

@media (min-width: 993px) {
    .home {
        /* Adjust background properties for desktop */
        background-size: cover;
        background-position: top center;
    }
}

@media screen and (max-width: 768px) {
    .svg-icon {
        width: 35px; /* Adjust icon size for smaller screens */
    }
    .discord-container {
        padding: 1.5%;
    }
}

@media screen and (max-width: 576px) {
    .svg-icon {
        width: 40px; /* Further adjust icon size for even smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .credit {
        display: flex;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;
        gap: 10px;
        width: 100%;
        background-color: #333; 
        padding: 10px; 
        color: white;
        z-index: 9999;
    }

    .credit span {
        margin-right: 0; 
        margin-bottom: 5px; 
    }

    .navbar.active {
        display: flex;
        padding: 10%;
        flex-direction: column;
        background-color: #141418;;
        border-bottom: 1px solid #fff;
        padding: 10px 0; 
        width: 100%;
        position: absolute;
        top: 50px; 
        right: 0;
        left: 0;
        z-index: 1;
    }

    .navbar.active a:last-child {
        border-bottom: none;
    }

    .navbar.active .social-media {
        flex-direction: column;
        gap: 10px;
    }
    #menu-btn {
        display: block;
    }
}
@media (max-width: 767px) {
    /* Add your responsive styles here */

    .onibi-icon {
        width: 200px;
    }

    .steam-logo img {
        width: 150px;
    }

    .heading span {
        font-size: 1.5rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 2rem;
    }

    .footer .credit {
        font-size: 10px;
    }
}

/* Media query for screens smaller than 576px (phones) */
@media (max-width: 575px) {

    .steam-logo img {
        width: 100px;
    }

    .heading span {
        font-size: 1rem;
    }

    .btn {
        padding: 5px 10px;
        font-size: 1.8rem;
    }

    .footer .credit {
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .video-section {
        flex-direction: column;
    }

    .video-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .video-container iframe {
        height: 250px;
    }

    .text-container {
        text-align: center;
        margin-bottom: 30px;
    }
}