:root {
    --main-color: black;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border: .2rem solid  #352f44;
    --border-hover: .2rem dashed #fdb44b;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    
}

* {
    
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

.heading {

    font-size: 4rem;
    color: whitesmoke;
    padding: 2%;
    text-transform: uppercase;
    -webkit-text-stroke: .05rem white;
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
    z-index: 2;
}
section {
    padding: 2rem 9%;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: whitesmoke;
    font-size: 2rem;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    align-items: center;
    z-index: 1; 
}


/* .logo.expanded {
    transform: translateY(40px); 
} */

.logo{
    transition: width 0.5s ease;
    padding: 4%;
    width: 300px;
    transition: transform 0.5s ease;
}

.logo-container {
    margin-left: 20px;
    
}

.logo-container:hover .logo {
    transform: scale(1.5);
}


.logo.adjusted {
    width: 300px; /* Set the desired width */
}

.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.social-media {
    margin-right: 20px; 
}

.social-media {
    display: flex;
    gap: 20px;
    align-items: center;
}


.icon-container {
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
}
.icon-container, .twitch-container, .discord-container {
    margin: 0 10px; /* Adjust spacing between icons */
}

.svg-icon {
    width: 30px; /* Set default size for icons */
}

.svg-icon {
    width: 50px;
    transition: transform 0.5s ease;
    height: auto;
}
.discord-container {
    background-color:#5865F2;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius:  5%;
}

.discord-icon {
    width: 100px;
    margin-top: 3px;
    height: auto;
}
.svg-icon:hover{
    rotate: rotate(360deg);
}
/* home section */
.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
    padding-top: 12rem;
    background: url(static/Onibi-Steam-Page-TemplateWebsite.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.onibi-icon {
    width: 700px; 
    height: auto;  
}

/* about section */
.steam-section {
    font-size: 2.2rem;
    background: linear-gradient(135deg, #1a1a1a, #333);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .steam-logo img {
    width: 100px; 
    height: auto;
    margin-bottom: 20px; 
  }
  
  .centered-text {
    margin: 0 auto;
    max-width: 900px;
  }
  .chill{
    color: #FFE2AD;
  }

  /* footer */
.footer{
    background: linear-gradient(135deg, #1a1a1a, #333);
}

  .footer .credit {
    text-align: center;
    font-size: 2rem;
    
    margin-top: 1rem;
    color: white;
}


#baka{
    display: flex;
    justify-content: center;
    padding: 2%;

}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 50px;
    border: var(--border);
    border-radius: var(--border-radius);
    color: white;
    background: #262626;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    
}
.btn:hover {
    color: #90f6d7;
  box-shadow: 0 0 5px #90f6d7;
  text-shadow: 0 0 5px #90f6d7;
  transform: scale(1.1);
  box-shadow: 0 0 15px #90f6d7;
}

#menu-btn {
    font-size: 24px; 
    cursor: pointer; 
    margin-right: 20px;
    display: none;
}

/* media queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 3rem;

    }

    section {
        padding: 2rem;
    }
    
}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem;
    }
    .heading span {
        font-size: 2.3rem;
    }
    .onibi-icon {
        width: 300px; 
        height: auto;  
    }

    .home {
        text-align: center;
    
        min-height: 20vh;
        background-attachment: scroll;
    }
    .logo.adjusted-mobile {
        width: 200px; /* Set the width for mobile screens */
    }

}

@media (max-width: 576px) {
    .home {
        background-size: cover;
        background-position: top center;

    }
    .onibi-icon {
        width: 300px; 
        height: auto;  
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .home {
        /* Adjust background properties for tablets */
        background-size: cover;
        background-position: top center;
    }
    .onibi-icon {
        width: 300px; 
        height: auto;  
    }
}

@media (min-width: 993px) {
    .home {
        /* Adjust background properties for desktop */
        background-size: cover;
        background-position: top center;
    }

}


@media screen and (max-width: 768px) {
    .svg-icon {
        width: 35px; /* Adjust icon size for smaller screens */
    }
    .discord-container{
        padding: 1.5%;
    }
}

@media screen and (max-width: 576px) {
    .svg-icon {
        width: 40px; /* Further adjust icon size for even smaller screens */
    }
}


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
       
    }

    section {
        min-height: 30vh;
    }


    .navbar.active {
        display: flex;
        padding: 10%;
        flex-direction: column;
        background-color: #141418;;
        border-bottom: 1px solid #fff; /* Change border color to white */
        padding: 10px 0; /* Add padding to improve spacing */
        width: 100%;
        position: absolute;
        top: 130px; /* Adjust top position based on your header height */
        right: 0;
        left: 0;
        z-index: 1;
    }

    
    .navbar.active a:last-child {
        border-bottom: none;
    }


    .navbar.active .social-media {
        flex-direction: column;
        gap: 10px;
    }
    #menu-btn {
        display: block;
    }
}



.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-40%);
    transition: all 1s;
    }
    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }


    @media (prefers-reduced-motion) {
        .hidden {
        transition: none;
        }
        }